html{
    scroll-behavior: smooth;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

@font-face {
    font-family: Minecraft;
    src: url(../fonts/Minecraft/ttf/MinecraftRegular-Bmg3.ttf) format(truetype),
        url(../fonts/Minecraft/otf/MinecraftRegular-Bmg3.otf) format(opentype),
        url(../fonts/Minecraft/woff/MinecraftRegular-Bmg3.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Minecraft;
    src: url(../fonts/Minecraft/ttf/MinecraftBold-nMK1.ttf) format(truetype),
        url(../fonts/Minecraft/otf/MinecraftBold-nMK1.otf) format(opentype),
        url(../fonts/Minecraft/woff/MinecraftBold-nMK1.woff) format(woff);
    font-weight: bold;
}

@font-face {
    font-family: Minecraft;
    src: url(../fonts/Minecraft/ttf/MinecraftBoldItalic-1y1e.ttf) format(truetype),
        url(../fonts/Minecraft/otf/MinecraftBoldItalic-1y1e.otf) format(truetype),
        url(../fonts/Minecraft/woff/MinecraftBoldItalic-1y1e.woff) format(woff);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Minecraft;
    src: url(../fonts/Minecraft/ttf/MinecraftItalic-R8Mo.ttf) format(truetype),
        url(../fonts/Minecraft/otf/MinecraftItalic-R8Mo.otf) format(opentype),
        url(../fonts/Minecraft/woff/MinecraftItalic-R8Mo.woff) format(woff);
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Bold.ttf) format(truetype);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-BoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Black.ttf) format(truetype);
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-BlackItalic.ttf) format(truetype);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Italic.ttf) format(truetype);
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Light.ttf) format(truetype);
    font-weight: 25;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-LightItalic.ttf) format(truetype);
    font-weight: 25;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Medium.ttf) format(truetype);
    font-weight: 50;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-MediumItalic.ttf) format(truetype);
    font-weight: 50;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Thin.ttf) format(truetype);
    font-weight: 10;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Thin.ttf) format(truetype);
    font-weight: 10;
    font-style: italic;
}

@font-face {
    font-family: Zilla Slab;
    src: url(../fonts/Zilla-Slab/tff/ZillaSlab-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Zilla Slab;
    src: url(../fonts/Zilla-Slab/tff/ZillaSlab-Bold.ttf) format(truetype);
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Zilla Slab;
    src: url(../fonts/Zilla-Slab/tff/ZillaSlab-BoldItalic.ttf) format(truetype);
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: Zilla Slab;
    src: url(../fonts/Zilla-Slab/tff/ZillaSlab-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Zilla Slab;
    src: url(../fonts/Zilla-Slab/tff/ZillaSlab-Light.ttf) format(truetype);
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: Zilla Slab;
    src: url(../fonts/Zilla-Slab/tff/ZillaSlab-LightItalic.ttf) format(truetype);
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: Zilla Slab;
    src: url(../fonts/Zilla-Slab/tff/ZillaSlab-Medium.ttf) format(truetype);
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: Zilla Slab;
    src: url(../fonts/Zilla-Slab/tff/ZillaSlab-MediumItalic.ttf) format(truetype);
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: Zilla Slab;
    src: url(../fonts/Zilla-Slab/tff/ZillaSlab-SemiBold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Zilla Slab;
    src: url(../fonts/Zilla-Slab/tff/ZillaSlab-SemiBoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

body {
    background: #0d041c;
    color: #ffffff;
    margin: 0;
    font-family: Roboto;
    overflow-x: hidden;
}

nav {
    font-family: Consolas, 'Courier New', monospace;
    position: fixed;
    bottom: 100px;
    right: 20px;
    font-size: 30px;
}

nav b {
    color: rgb(156, 156, 156);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    flex-direction: column;
}

.container {
    display: inline-block;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 1.6rem;
}

span {
    color: #ff55ff;
}

content {
    height: auto;
    width: 80%;
    font-family: Zilla Slab;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

content a:link {
    color: aqua;
    transition: 0.2s;
}

content a:visited {
    color: aqua;
    transition: 0.2s;
}

content a:visited:hover {
    color: #ff55ff;
}

content a:link:hover {
    color: #ff55ff;
}

content div {
    text-align: right;
    width: 95%;
    max-width: 1000px;
}

h1 {
    font-size: 26.8vw;
    color: #ff4f5e;
    text-align: left;
}

@media screen and (min-width: 750px) {
    h1{
       font-size: 200px;
    }
}

content a:link {
    color: #ff55ff;
    transition: 0.2s;
}

content a:visited {
    color: #ff55ff;
    transition: 0.2s;
}

content a:visited:hover {
    color: aqua;
}

content a:link:hover {
    color: aqua;
}

footer {
    height: auto;
    color: #838793;
    background-color: #111114;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-weight: bold;
}

@media screen and (min-width: 775px) {
    footer {
       flex-direction: row;
    }
}

footer table {
    width: 100%;
    height: 300px;
    border-bottom: solid 1px #2b2f37;
    padding: 20px 20px;
}

footer img {
    width: 100px;
    border-radius: 5px;
}

footer h1 {
    color: #ffffff;
    font-size: 20px;
    font-family: Minecraft;
    font-weight: bold;
}

footer a {
    color: #838793;
    transition: 0.2s;
}

footer a:hover {
    color: #ffffff;
}

footer a:link {
    color: #838793;
    transition: 0.2s;
}

footer a:link:hover {
    color: #ffffff;
}

footer a:visited {
    color: #838793;
    transition: 0.2s;
}

footer a:visited:hover {
    color: #ffffff;
}

footer svg {
    fill: #838793;
    transition: 0.2s;
}

footer a:hover svg {
    fill: #ffffff;
}

footer select {
    width: 110px;
    height: 30px;
    border: none;
    background: #111114;
    color: #838793;
    font-family: Roboto;
    font-weight: bold;
    font-size: large;
}

footer select:hover {
    background: #212127;
}

.end {
    padding: 20px 20px;
    height: auto;
    color: #838793;
    background-color: #111114;
    font-family: Roboto;
    font-weight: bold;
}

.end a {
    color: #838793;
    transition: 0.2s;
}

.end a:hover {
    color: #ffffff;
}

pride {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
}

red {
    height: 100%;
    width: calc(100% / 6);
    background-color: red;
    color: red;
}

orange {
    height: 100%;
    width: calc(100% / 6);
    background-color: orange;
    color: orange;
}

yellow {
    height: 100%;
    width: calc(100% / 6);
    background-color: yellow;
    color: yellow;
}

green {
    height: 100%;
    width: calc(100% / 6);
    background-color: green;
    color: green;
}

blue {
    height: 100%;
    width: calc(100% / 6);
    background-color: blue;
    color: blue;
}

purple {
    height: 100%;
    width: calc(100% / 6);
    background-color: purple;
    color: purple;
}