html{
    scroll-behavior: smooth;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

@font-face {
    font-family: Minecraft;
    src: url(../fonts/Minecraft/ttf/MinecraftRegular-Bmg3.ttf) format(truetype),
        url(../fonts/Minecraft/otf/MinecraftRegular-Bmg3.otf) format(opentype),
        url(../fonts/Minecraft/woff/MinecraftRegular-Bmg3.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Minecraft;
    src: url(../fonts/Minecraft/ttf/MinecraftBold-nMK1.ttf) format(truetype),
        url(../fonts/Minecraft/otf/MinecraftBold-nMK1.otf) format(opentype),
        url(../fonts/Minecraft/woff/MinecraftBold-nMK1.woff) format(woff);
    font-weight: bold;
}

@font-face {
    font-family: Minecraft;
    src: url(../fonts/Minecraft/ttf/MinecraftBoldItalic-1y1e.ttf) format(truetype),
        url(../fonts/Minecraft/otf/MinecraftBoldItalic-1y1e.otf) format(truetype),
        url(../fonts/Minecraft/woff/MinecraftBoldItalic-1y1e.woff) format(woff);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Minecraft;
    src: url(../fonts/Minecraft/ttf/MinecraftItalic-R8Mo.ttf) format(truetype),
        url(../fonts/Minecraft/otf/MinecraftItalic-R8Mo.otf) format(opentype),
        url(../fonts/Minecraft/woff/MinecraftItalic-R8Mo.woff) format(woff);
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Bold.ttf) format(truetype);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-BoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Black.ttf) format(truetype);
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-BlackItalic.ttf) format(truetype);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Italic.ttf) format(truetype);
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Light.ttf) format(truetype);
    font-weight: 25;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-LightItalic.ttf) format(truetype);
    font-weight: 25;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Medium.ttf) format(truetype);
    font-weight: 50;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-MediumItalic.ttf) format(truetype);
    font-weight: 50;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Thin.ttf) format(truetype);
    font-weight: 10;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/ttf/Roboto-Thin.ttf) format(truetype);
    font-weight: 10;
    font-style: italic;
}

body {
    background: #0d041c;
    color: #ffffff;
    margin: 0;
    font-family: Roboto;
    overflow-x: hidden;
}

nav {
    z-index: 1000;
    position: fixed;
    background-image: linear-gradient(rgba(26,27,30,1), rgba(26,27,30,0.9));
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 1px #2b2f37;
    font-weight: 100;
}

nav a img {
    height: 50px;
    position: absolute;
    left: 10px;
    top: 5px;
    border-radius: 5px;
}

nav div {
    height: 40px;
    width: 110px;
    display: none;
    margin: 5px;
    transition: 0.2s;
    font-size: 17px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

nav div svg {
    fill: #ffffff;
    position: relative;
}

.lxbs {
    position: absolute;
    left: 60px;
    top: 5px;
    display: flex;
    font-size: 30px;
    font-family: Minecraft;
    font-weight: normal;
}

.lxbs:hover {
    color: transparent;
    background-image: url(../img/minecraft_server/0001-0250.gif);
    background-position: center;
    background-size: 100%;
}

@media screen and (min-width: 900px) {
    nav div {
       display: flex;
       position: relative;
       top: 5px;
    }

    .lxbs {
        position: relative;
        top: 5px;
        left: 0px;
    }

    nav img {
        position: relative;
    }
}

.div-1:hover {
    background-image: url(../img/minecraft_server/minecraft_screen_21_04_2022.png);
    background-position: center;
    background-size: 100%;
}

.div-2:hover {
    background-image: url(../img/minecraft_server/minecraft_screen_03_09_2022.png);
    background-position: center;
    background-size: 100%;
}

.div-3:hover {
    color: transparent;
    background-image: url(../img/logo/LXBS_devs_logo_blue.png);
    background-position: 0px 55px;
    background-size: 100%;
}

.div-4:hover {
    background-image: url(../img/minecraft_server/minecraft_screen_17_04_2022_2.png);
    background-position: center;
    background-size: 100%;
}

.div-5:hover {
    color: transparent;
    background-image: url(../img/discord_server/DC_logo_gif2.0.gif);
    background-position: center;
    background-size: 100%;
}

.div-6:hover {
    background-image: url(../img/server_setup/server_setup_hardware_fujtsu_01.jpg);
    background-position: center;
    background-size: 100%;
}

.navigator {
    position: absolute;
    right: 0px;
    top: 0px;
    list-style: none;
    display: flex;
    align-items: right;
    justify-content: right;
}

.navigator div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-size: 30px;
}

.navigator ul {
    list-style: none;
}

.navigator svg {
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
    fill: #ffffff;
}

.navigator ul li ul {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-image: linear-gradient(rgba(26,27,30,0.90), rgba(26,27,30,1), rgba(26,27,30,1));
    width: 100%;
    height: 100%;
    position: fixed;
    list-style: none;
    right: 0px;
    top: 60px;
    z-index: 99;
}

@media screen and (min-width: 900px) {
    .navigator{
       display: none;
    }
}

header {
    background-image: url(../img/other/blob-scene-haikei-1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 960/500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-1 {
    width: 40vw;
    min-width: 200px;
    max-width: 400px;
    height: auto;
    border-radius: 25px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    display: block;
    z-index: 0;
    transition: 0.2s;
    animation-duration: 5s;
}

.text-1 {
    position: fixed;
    z-index: 1001;
    color: #ff55ff;
    font-weight: bold;
    left: 35%;
    top: 50px;
    rotate: -10deg;
    animation: text-1 2s infinite;
}

@keyframes text-1 {
    0% {font-size: normal;}
    50% {font-size: large;}
    100% {font-size: normal;}
}

@media screen and (min-width: 1000px) {
    header img {
       width: 400px;
    }
}

content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    aspect-ratio: 900/675;
}

content a:link {
    color: aqua;
    transition: 0.2s;
}

content a:visited {
    color: aqua;
    transition: 0.2s;
}

content a:visited:hover {
    color: #ff55ff;
}

content a:link:hover {
    color: #ff55ff;
}

content div {
    width: 100vh;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vw);
    transition: 0.2s;
    color: white;
    margin-bottom: 30px;
}

@media screen and (min-width: 1061px) {
    content div {
        width: 1000px;
        height: 500px;
        border-radius: 25px;
        font-size: 30px;
        margin-bottom: 50px;
    }

    content h1 {
        font-size: 75px;
    }
}

.one {
    background-image: url(../img/minecraft_server/CherryBlossom_1280x720_3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.two {
    background-image: url(../img/other/end_sky.png);
    background-size: 130px;
    background-repeat: repeat;
    background-position: center;   
}

.three {
    background-image: url(../img/minecraft_server/minecraft_screen_06_01_2023_5.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.one:hover,
.three:hover {
    background-size: 110%;
}

.two:hover {
    background-size: 150px;
}

h1 {
    font-size: 7vw;
    font-family: Minecraft;
    font-weight: normal;
    text-shadow: black 5px 5px 1px;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(../img/other/layer15.svg);
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.layer2 {
    background-image: url(../img/other/layer6.svg);
}

.layer3 {
    background-image: url(../img/other/blob-scene-hakei-2.svg);
}

.layer5 {
    background-image: url(../img/other/blob-scene-haikei-1.svg);
}

.layer4 {
    background-image: url(../img/other/circle-scatter-haikei-2.svg);
}

footer {
    height: auto;
    color: #838793;
    background-color: #111114;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-weight: bold;
}

@media screen and (min-width: 775px) {
    footer {
       flex-direction: row;
    }
}

footer table {
    width: 100%;
    height: 300px;
    border-bottom: solid 1px #2b2f37;
    padding: 20px 20px;
}

footer img {
    width: 100px;
    border-radius: 5px;
}

footer h1 {
    color: #ffffff;
    font-size: 20px;
    font-family: Minecraft;
    font-weight: bold;
}

footer a {
    color: #838793;
    transition: 0.2s;
}

footer a:hover {
    color: #ffffff;
}

footer a:link {
    color: #838793;
    transition: 0.2s;
}

footer a:link:hover {
    color: #ffffff;
}

footer a:visited {
    color: #838793;
    transition: 0.2s;
}

footer a:visited:hover {
    color: #ffffff;
}

footer svg {
    fill: #838793;
    transition: 0.2s;
}

footer a:hover svg {
    fill: #ffffff;
}

.end {
    padding: 20px 20px;
    height: auto;
    color: #838793;
    background-color: #111114;
    font-family: Roboto;
    font-weight: bold;
}

.end a {
    color: #838793;
    transition: 0.2s;
}

.end a:hover {
    color: #ffffff;
}

pride {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
}

red {
    height: 100%;
    width: calc(100% / 6);
    background-color: red;
    color: red;
}

orange {
    height: 100%;
    width: calc(100% / 6);
    background-color: orange;
    color: orange;
}

yellow {
    height: 100%;
    width: calc(100% / 6);
    background-color: yellow;
    color: yellow;
}

green {
    height: 100%;
    width: calc(100% / 6);
    background-color: green;
    color: green;
}

blue {
    height: 100%;
    width: calc(100% / 6);
    background-color: blue;
    color: blue;
}

purple {
    height: 100%;
    width: calc(100% / 6);
    background-color: purple;
    color: purple;
}