@import url(main.scss);
@import url(fonts.scss);

header {
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    top: 0;
    position: relative;
    z-index: -1000;
}

.image-background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

header img {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    height: calc(100vh + 400px);
    width: 100%;
}

.fontTitle {
    font-family: Minecraft;
    font-size: 10vw;
    position: relative;
    text-shadow: black 5px 5px 1px;
}

.arrow_down {
    position: absolute;
    bottom: 50px;
    color: #ffffff;
    width: 150px;
    height: 100px;
    animation: arrow_down 5s infinite;
}

content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: #0d041c;
    height: auto;
}

content a:link {
    color: #e31587;
}

content a:visited {
    color: #e31587;
}

content a:visited:hover {
    color: #8c2475;
}

content a:link:hover {
    color: #8c2475;
}

.container {
    border: solid 0px none;
    border-radius: 5px;
    margin: 10px;
    background-color: #000000;
    box-shadow: 0px 0px 2px gray;
}

table td {
    padding: 5px;
}

.One {
    font-size: 30px;
    margin: 10px;
    font-weight: 50;
}

.Two {
    font-size: 20px;
    margin: 10px;
}

.Three {
    font-size: 20px;
    margin: 10px;
    border-bottom: solid 1px #411e4e;
    color: rgb(155, 155, 155);
    font-weight: 25;
}

.Four {
    margin: 10px;
}

@media (min-width: 1250px) {
    header {
        background-size: 100% auto;
    }
}

@media screen and (min-width: 1400px) {
    .fontTitle {
       font-size: 140px;
    }
}

@keyframes arrow_down {
    25% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}