@import url(main.scss);
@import url(fonts.scss);

body {
    background-image: url(../img/server_setup/server_setup_hardware_fujtsu_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    background-image: url(../img/other/blob-scene-haikei-1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 960/500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.header img {
    width: 40vw;
    min-width: 200px;
    max-width: 400px;
    height: auto;
    border-radius: 25px;
    position: relative;
    margin: 20px;
}

.header-text {
    font-family: Zilla Slab;
    width: 90%;
    font-size: 20px;
}

@media screen and (min-width: 1000px) {
    .header {
        flex-direction: row;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .header img {
       width: 400px;
    }

    .header-text {
        font-size: 30px;
        width: 50%;
    }

    .about {
        flex-direction: row;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .about h1 {
       width: 400px;
    }

    .about-text {
        font-size: 30px;
        width: 50%;
    }
}

.fontTitle {
    font-family: Minecraft;
    font-size: 20vw;
    position: relative;
    text-shadow: black 5px 5px 1px;
}

content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    overflow-x: hidden;
}

content a:link {
    color: #ff55ff;
    transition: 0.2s;
}

content a:visited {
    color: #ff55ff;
    transition: 0.2s;
}

content a:visited:hover {
    color: aqua;
}

content a:link:hover {
    color: aqua;
}

.container {
    border: solid 0px none;
    border-radius: 5px;
    margin: 10px;
    background-color: #000000;
    box-shadow: 0px 0px 2px gray;
}

table td {
    padding: 5px;
    overflow-x: scroll;
}

.One {
    font-size: 30px;
    margin: 10px;
    font-weight: 50;
}

.Two {
    font-size: 20px;
    margin: 10px;
}

.Three {
    font-size: 20px;
    margin: 10px;
    border-bottom: solid 1px #411e4e;
    color: rgb(155, 155, 155);
    font-weight: 25;
}

.Four {
    margin: 10px;
}

@media screen and (min-width: 1400px) {
    .fontTitle {
       font-size: 280px;
    }
}

@media screen and (max-width: 500px) {
    content {
        overflow-x: scroll;
    }

    .container {
        margin-right: 0;
        margin-left: 0;
        border-right: none;
        border-left: none;
        border-radius: 0;
        align-items: start;
        justify-content: left;
        width: 100%;
    }
}